<div class="col s12">
  See your current reports here:
<ul class="collection">
    <li class="collection-item avatar">
      <img src="/images/oxygen.png" alt="" class="circle">
      <span class="title">Blood Oxygen Level</span>
      <p></p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/images/thermometer.png" alt="" class="circle">
      <span class="title">Body Temperature</span>
      <p></p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/images/heartbeat.png" alt="" class="circle">
      <span class="title">Heartbeat Rate</span>
      <p></p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
</ul>
</div>