<script src="/js/plotly.js"></script>
Blood oxygen<br>
<div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>
var trace1 = {
	type:'scatter',
  x: [1, 2, 3, 4,5,6,7,8],
  y: [95, 98, 99, 93,96,98,100,97],
  
};
var trace2 = {
	type:'scatter',
  x: [1, 2, 3, 4,5,6,7,8],
  y: [ 99, 95,96,98,100,97,95, 98],
  
};
var trace3 = {
	type:'scatter',
  x: [1, 2, 3, 4,5,6,7,8],
  y: [96,98,100,97,95, 98, 99, 93],
  
};


var data1 = [trace1];
var data2 = [trace2];
var data3 = [trace3];


var layout = {
  title: 'SPO2 Level over past time',
  xaxis: {
    title: 'time'
  },
  yaxis: {
    title: 'SPO2'
  }
};
var count = 0;
var data;
function plotg(){
	if(count%3==0) data = data1;
	else if (count%3==0) data = data2;
	else data = data3;
	count++;
	Plotly.newPlot('myDiv', data, layout);
}
setInterval(plotg,1000);
  </script>