._22zr{background-color:#fff;display:flex;padding:3px 5px}._4tre{padding:3px 3px 0 0}._22zw{flex-grow:1}._22zr .uiTokenText{display:inline-block;max-width:160px;overflow:hidden;text-overflow:ellipsis}._22zr .uiTypeahead{margin-top:1px}._22zx{height:24px}

#bootloader_59iKC{height:42px;}.bootloader_59iKC{display:block!important;}