._5bov{cursor:pointer;padding:8px}._5bow{height:28px;width:28px}
._29oh{display:inline-block;margin:-5px 0 -12px 0;position:relative}

#bootloader_6lDGh{height:42px;}.bootloader_6lDGh{display:block!important;}